/* General Body and Header Styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0a0a0a;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
}

header {
  background-color: #000000;
  color: #f53030;
  padding: 15px;
  text-align: left;
  border-bottom: #f53030 solid;
}

header img {
  width: 100px !important;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #e5533e;
}

h1 {
  margin: 0;
  font-size: 32px;
  cursor: pointer;
}

/* Player Container */
.player-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: hidden;
}

.player {
  border: #f53030 solid 0.2px;
  width: 100%;
  height: 360px;
  background-color: black;
  position: relative;
  overflow: hidden;
}

/* Episode List */
.episode-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 98%;
  overflow-x: hidden;
}

.episode {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #2c2c2c;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  gap: 12px;
}

.episode:hover {
  background-color: #4b4b4b;
}

.episode i {
  font-size: 1.5em;
  color: #f53030;
}

.episode .episode-title {
  flex-grow: 1;
  font-size: 1.2em;
  color: #fff;
}

.episode .play-icon {
  font-size: 1.4em;
  color: #ffffff;
}

.content-name {
  margin-left: 10px;
  margin-bottom: -1px;
  font-size: 1.3em;
  font-family: saira, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

/* Footer */
footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 8px;
  margin-top: auto; /* Ensures footer stays at the bottom */
margin-top: 50px;
  width: 100%;
  border-top: #f53030 solid;
}

footer a {
  color: #f53030;
  margin-right: 20px;
  text-decoration: none;
}

footer p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
}

@media screen and (max-width: 480px) {
  header {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .player {
    height: 480px;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .player {
    height: 420px;
  }
}

@media (max-width: 767px) {
  .player {
    height: 240px;
  }

  .episode-list {
    width: 100%;
  }

  .episode {
    font-size: 1em;
    padding: 15px;
  }

  .episode i {
    font-size: 1.2em;
  }

  footer {
    padding: 8px;
  }

  .fullscreen-btn {
    bottom: 5px;
    right: 5px;
    padding: 4px 8px;
    font-size: 0.9em;
  }

  .content-name {
    font-size: 1.3em;
  }
}

.back-btn-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.back-btn {
  display: inline-flex;
  align-items: center;
  background-color: transparent;
  color: #f53030;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  gap: 8px;
}

.back-btn i {
  font-size: 16px;
}

.back-btn:hover {
  transform: scale(1.05);
}

@keyframes move-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

.episode {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #2c2c2c;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  gap: 12px;
}

.episode:hover {
  background-color: #4b4b4b;
  animation: move-up 0.3s ease-in-out;
}

.played-episode-name {
  margin-top: 7px;
  margin-left: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 300;
  text-align: left;
  max-width: 80%;
  margin-right: auto;
}

.next-btn {
  background-color: #f53030;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
  margin-left: auto;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 18px;
}

.next-btn:hover {
  background-color: #f53030;
  transform: scale(1.05);
}
