body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0a0a0a;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures body takes up full viewport height */
  overflow-x: hidden; /* Prevent horizontal scroll */
}

header {
  background-color: #000000;
  color: #f53030;
  padding: 15px;
  text-align: left;
  border-bottom: #f53030 solid;
  display: flex;
  justify-content: space-between;
  
}

header img {
  width: 100px !important;
}

h1 {
  margin: 0;
  font-size: 32px; /* Increased font size */
  cursor: pointer;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start; /* Align thumbnails to the left */
  padding: 20px;
  box-sizing: border-box; /* Ensure padding doesn't cause overflow */
  flex: 1; /* Allows the grid to stretch and push footer down */
}

.thumbnail {
  width: 200px;
  height: 300px;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  object-fit: cover;
}

.thumbnail:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

footer {
  background-color: #000000;
  border-top: #f53030 solid;
  color: #fff;
  text-align: center;

  width: 100%; /* Ensure footer spans full width */
  p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px; /* Increased font size for smaller screens */
    line-height: 1.5;
  }
}

footer a {
  color: #f53030;
  text-decoration: none;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .movie-grid {
    justify-content: flex-start; /* Ensure thumbnails align to left */
  }

  .thumbnail {
    width: 150px;
    height: 225px;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 10px;
  }

  h1 {
    font-size: 24px; /* Slightly reduced header size for small screens */
  }

  .thumbnail {
    width: 150px;
    height: auto;
    margin-left: 10px;
  }
  
}








/* Button Styling */
.install-btn {
  padding: 1px 25px;
  border: none;
  outline: none;
  color: #FFF;
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 50px;

  transition: all 0.3s ease;
  margin-right: 20px;

}
@media screen and (max-width: 768px){
  .install-btn{  
    font-size: 13px;
    padding: 5px 16px;
  }

}

.install-btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  left: 0;
  top: 0;
  border-radius: 50px;
}

/* Glow Effect */
.install-btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #FF0000, #FF7300, #FFFB00, #48FF00,
    #00FFD5, #002BFF, #FF00C8, #FF0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 50px;
  opacity: 1;
}

@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}

/* Hover Effects */
.install-btn:hover::before {
  opacity: 1;
}

.install-btn:hover::after {
  background: transparent;
}

.install-btn:hover {
  color: #000;
  font-weight: bold;
}