/* Ensure the body takes the full height of the viewport */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0a0a0a;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  min-height: 100vh; /* Ensure the body covers the full viewport height */
}

/* Main content should grow to push the footer down */
main {
  flex: 1; /* Take up remaining space to push footer to the bottom */
}

header {
  background-color: #000000;
  color: #f53030;
  padding: 15px;
  text-align: left;
  border-bottom: #f53030 solid;
}

header img {
  width: 100px !important;
}

h1 {
  margin: 0;
  font-size: 32px;
  cursor: pointer;
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: flex-start;
  padding: 20px;
}

.thumbnail {
  width: 200px;
  height: 300px;
  border-radius: 2px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  object-fit: cover;
}

.thumbnail:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}

footer {
  background-color: #000000;
  border-top: #f53030 solid;
  color: #fff;
  text-align: center;

  width: 100%;
}

footer a {
  color: #f53030;
  text-decoration: none;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .movie-grid {
    justify-content: flex-start;
  }

  .thumbnail {
    width: 150px;
    height: 225px;
  }
}

@media screen and (max-width: 480px) {
  header {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  .movie-grid {
    gap: 10px;
  }

  .thumbnail {
    width: 130px;
    height: auto;
    margin-left: 10px;
  }

 
}
